<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for ('static', filename = 'css/characteres.css')}}">
    <title>Characters</title>
</head>

<body>
    <header>
        <nav id="nav">
            <div class="contenedor-nav">
                <div class="logo">
                    <img src="logo.jpg" alt="">
                </div>
                <div class="enlaces" id="enlaces">
                    <a href="#" id="enlace-Inicio" class="btn-header">Inicio</a>
                    <a href="#" id="enlace-Investigación" class="btn-header">Ingenieria</a>
                    <a href="#" id="enlace-Colombia" class="btn-header">CES</a>
                    <a href="#" id="enlace-El Espectador" class="btn-header">Colombia </a>
                    <a href="#" id="enlace-Beirut" class="btn-header">Characters</a>
                </div>
                <div class="icono" id="open">
                    <span>&#9776;</span>
                </div>
            </div>
        </nav>
        <div class="textos">
            <h1>Mis personajes favoritos </h1>
            <h2>""</h2>
            <marquee>
                <img src="lilo.JPG" height="200">
                <img src="mulan.JPG" height="200">
                <img src="up.JPG" height="200">
                <img src="moana.JPG" height="200">
                <img src="vali.JPG" height="200">
            </marquee>
        </div>
        <br> <br>
        <hr>
        <div class="contenedor-sobre-nosotros">
            <div class="contenido-textos">
                <h3><span>1.</span></span>LILO Y Stitch</h3>
                Es un pequeño alienígena azul que fue creado por el Dr. Jumba Jookiba , siendo el resultado 626. Él fue
                creado con un instinto de destilación todo lo que toca, pero el día que conocio a Lilo y se hizo una
                buena amistad con ella, comienza una covertirse en un ser bueno.

                En Lilo & Stitch escapó de la Federación Galáctica y acabó en la Tierra en la isla Hawaiana Kauai ,
                donde fue acogido por Lilo, y se convirtió en su mascota con la aprobación de la Gran Consejera
                Galáctica .

                <br> <br>
                <h4>Mulan</h4>
                <p>
                    El ejército de los Hunos, encabezado por el malvado Shun Yiu, quiere conquistar China. El emperador,
                    para impedírselo, ha mandado a filas a todos los varones con el fin de proteger el imperio. Por otra
                    parte, Mulán es una chica joven y valiente que vive en una aldea. Su padre está enfermo pero a pesar
                    de ello quiere luchar por su país. Mulán no lo va a consentir y se fugará de casa con la intención
                    de hacerse pasar por un chico y combatir en lugar de su padre.
                    <br>
                    Su moralja es muy linda La igualdad entre el hombre y la mujer, el respeto a la familia, el honor y
                    la lucha por los sueños. Una mujer puede romper barreras sin perder su esencia para luchar por lo
                    que quiere. Puede hacer cosas muy diferentes a ciertos estereotipos en los que ha sido enmarcada
                    para lograr sus sueños, sentirse plena y feliz.



                </p>


                </p>
                <main>
                    <section class="contenedor-sobre-nosotros">
                        <div class="contenedor-sobre-nosotros">
                            <img src="winner_.svg" alt="" class="imagens-about-us">
                            <div class="contenido-textos">
                                <h3><span>2.</span>UP</h3>
                                <p>
                                    Una Aventura de Altura por lo menos una vez en su vida. Ya saben, aquel largometraje
                                    animado de Disney Pixar que cuenta la emocionante historia un hombre mayor que se
                                    embarca en un viaje a Sudamérica para cumplir el sueño de su difunta esposa en
                                    compañía de un niño.
                                    UP va más allá de lo que esperamos de una película animada, convirtiéndose en un
                                    drama humano emocionante, con muchos momentos graciosos, para todos los públicos.
                                    Con un sentido de humor entrañable e inúmeros momentos divertidos, esta película
                                    muestra que envejecer no significa dejar de disfrutar de la vida y que nunca es
                                    tarde para emprender en una nueva aventura.


                                </p>
                                <h3><span>3.</span>MOANA</h3>
                                <p>
                                    En el mundo antiguo de las islas del sur del Pacífico, Moana, una auténtica
                                    navegante, zarpa en busca de una isla legendaria. Forma equipo con su héroe, el
                                    semidiós Maui, para cruzar el océano en un viaje repleto de acción. En su viaje,
                                    encontrará enormes criaturas marinas, impresionantes submundos y tradiciones
                                    milenarias.
                                    “Moana es indomable y apasionada. Y también es una soñadora que siente un vínculo
                                    extraordinario con el mar”, afirmó Musker. “Es el tipo de personaje con el que nos
                                    identificamos todos y estamos deseando que el público lo conozca”

                                </p>
                                <h3><span>4.</span>VALIENTE</h3>
                                <p>
                                    Mérida es una jóven princesa que desea hacer cosas que su madre, la Reina Elinor, considera no aptas para damas,
                                    mientras su padre, el Rey Fergus, la apoya a ser como ella quiere ser. No es que su madre la odie, simplemente es la
                                    manera que ella cree que es la correcta. Cuando los padres de Mérida deciden que ella ya está en edad de que la
                                    pretendan para matrimonio, ella no está de acuerdo y hace lo posible porque ésto no suceda. Durante esta etapa,
                                    conoce a una bruja que le da un hechizo para poder cambiar de parecer a su madre, pero como se imaginarán, ésto no
                                    sale bien…
                                    Todos los personajes en su momento hacen cosas graciosas, unos más que otros. El personaje más «serio» de la
                                    película es la Reina, pero incluso ella causará carcajadas. Los hermanos de Mérida y los padres de los pretendientes
                                    de la princesa son los que harán reír a niños y grandes con sus ocurrencias. No crean que todo es comedia, hay
                                    acción (muchos golpes, espadazos, flechas y «monstruos», pero nada que sea gráficamente violento) y hay drama, el
                                    cual, como mencioné al principio, está centrado en Mérida y su madre.
                                </p>
                                <a href="home">Vamos a Home</a>
                                
                                </div>
                                </div>
                                </section>
                                
                                <hr>
                                <div class="clientes-contenedor">
                                    <h2 class="titulo">FRASES</h2>
                        <div class="cards">
                            <div class="card">
                                <img src="undraw_Winter_olympics_p07j.svg" alt="">
                                <div class="contenido-texto-card">

                                    <p>Cuando pienses en dejarlo, recuerda porqué empezaste.</p>
                                </div>
                            </div>
                            <div class="card">
                                <img src="undraw_winners_ao2o.svg" alt="">
                                <div class="contenido-texto-card">

                                    <p>Sé fuerte nunca sabes a quien estás inspirando.</p>

                                </div>

                            </div>

                        </div>
                        <hr>
                        <br><br>
                        <footer>
                                <p>Fuente Aqui</p><a
                                href="https://concepto.de/historia-del-voleibol/"
                                target="_blank"><button>Google</button></a></p>
                        </footer>
                    </div>

    </header>

</body>

</html>