<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personage</title>
    <link rel="stylesheet" href="{{url_for ('static', filename = 'css/personage.css')}}">

</head>

<body>

    <html>


    <body>
        <!-- Corps de la page -->
        <div id="block_page">
            <header>


                <div id="photo_head"><img src="{{url_for ('static', filename = 'imagenes/logo.jpg')}}"
                        alt="places photos"></div>
                <h1> DISNEY </h1>
                <!--Titre principal en h1 -->


            </header>

            <div id="sommaire_page">

                <nav>
                    <div class="conteneur-nav">
                        <label for="mobile">Afficher/Cacher le menu</label>
                        <input type="checkbox" id="mobile" role="button">
                        <ul>
                            <li class="deroulant"><a href="#a_propos_de_moi">Lilo y stitch </a>
                                <ul class="sous">
                                    <li><a href="#presentation">Nani Pelekai</a></li>
                                    <li><a href="#motivations">Jumba</a></li>
                                    <li><a href="#passions">Angel</a></li>
                                </ul>
                            </li>
                            <li class="deroulant"><a href="#cv">Moana</a>
                                <ul class="sous">
                                    <li><a href="#presentation">Jefe Tiu</a></li>
                                    <li><a href="#motivations">moana waialiki</a></li>
                                    <li><a href="#passions">Hei Hei</a></li>


                                </ul>
                            </li>
                            <li class="deroulant"><a href="#cv">Mulan</a>
                                <ul class="sous">
                                    <li><a href="#presentation">fa mulan</a></li>
                                    <li><a href="#motivations">li shang</a></li>



                                </ul>
                            </li>
                            <li class="deroulant"><a href="#cv">up</a>
                                <ul class="sous">
                                    <li><a href="#presentation">Russell</a></li>
                                    <li><a href="#motivations">Ellie</a></li>



                                </ul>
                            </li>
                            <li class="deroulant"><a href="#cv">Valiente</a>
                                <ul class="sous">
                                    <li><a href="#presentation">Princesa merida</a></li>
                                    <li><a href="#motivations">Reina Elinor</a></li>



                                </ul>
                            </li>


                        </ul>
                    </div>
                </nav>

            </div>

            <section>

                <article id="a_propos_de_moi">

                    <h1>LILO Y STITCH</h1>

                    <div id="presentation">

                        <h2>MIS PERSONAJES FAVORITOS </h2>

                        <div class="description">

                            <p>
                                Lilo & Stitch es una película animada estadounidense del año 2002 producida por Walt
                                Disney Feature Animation y realizada por Walt Disney Pictures y Buena Vista
                                Distribution. La cinta fue escrita y dirigida por Chris Sanders y Dean DeBlois, y además
                                fue la segunda de tres películas animadas de Disney en ser producida por el estudio de
                                animación de Florida en Disney's Hollywood Studios (el antiguo Disney-MGM Studios) en
                                Orlando, Florida.<br />
                            </p>

                            <p>La película comenzó a tomar forma desde finales del 2018, se confirmó el año pasado pero
                                debido a la pandemia todos los proyectos se fueron aplazando y ahora van retomando el
                                curso y así darle vida a la obra que originalmente fue escrita y dirigida por Dean
                                DeBlois y Chris Sanders en 2002. <br />

                            </p>
                        </div>

                        <h2 class="motivations">Nani pelekai</h2>

                        <div class="description">

                            <p>Nani pelekai es la hermana mayor de <a
                                    href="https://disney.fandom.com/es/wiki/Personajes_de_Lilo_%26_Stitch_(franquicia)#Introducidos_en_Lilo_.26_Stitch"
                                    title="lilo stich" target="_blank">lilo</a>,Y Su tutora from La Muerte de Padres
                                legales SUS.

                                En Lilo & Stitch , ella adoptó un Stitch que creía que era un perro para que Lilo tenga
                                una compañía, aunque no está
                                muy seguro de quedarse con él. Pero después de eso, Stitch rescatara a Lilo de las manos
                                de Gantu comenzó a tener
                                confianza en una puntada y lo dejo se adaptó a la familia con Lilo.

                                A lo largo de la saga, ella tuvo que soportar las travesuras de Lilo y Stitch, perdiendo
                                la paciencia por ello.
                                David siempre intenta salir con ella, pero ella no puede dejar un Lilo. <br /></p>
                            <h2 class="motivations">jumba</h2>

                            <p>jumba es un alienígena al que se le ve como un <a
                                    href="https://disney.fandom.com/es/wiki/Personajes_de_Lilo_%26_Stitch_(franquicia)#Introducidos_en_Lilo_.26_Stitch"
                                    title="lilo stich" target="_blank">"cientifico malvado"</a>, Es El creador de la
                                puntada, el Experimento 626 , y
                                de sus "primos".

                                En Lilo y Stitch , él se encarceló por haber creado al Experimento 626, pero tras lo que
                                se escapa, la Gran
                                Consejera Galáctica le concedió la libertad a cambio de la captura del Experimento 626,
                                por lo que Jumba, acompañó
                                al Agente del Pleakley , va en busca de 626 a la Tierra , pero tras ayudar a rescatar a
                                Lilo de Gantu , él y
                                Pleakley se quedan en la Tierra con la familia de Lilo.

                                En Stitch! La película , es secuestrado por su antiguo socio, el Dr. Hämsterviel , pero
                                logrado ser rescatado. En
                                Lilo & Stitch: La serie , es útil ayudar a Lilo y Stitch en su captura de experimentos,
                                y es compensado por ello en
                                Leroy & Stitch siendo un gran científico de la federación galáctica.

                                En Stitch! , él empieza a vivir en una isla Japonesa llamada Izayoi , donde Stitch se
                                hace amigo de una niña llamada
                                Yuna .<br /></p>
                            <h2 class="motivations">Angel</h2>

                            <p>Angel es un experimento 624, stich esta enamorado de angel <a
                                    href="https://disney.fandom.com/es/wiki/Personajes_de_Lilo_%26_Stitch_(franquicia)#Introducidos_en_Lilo_.26_Stitch"
                                    title="lilo stich" target="_blank">angel</a>, Es Una de los primos de Stitch , el
                                experimento Siendo 624 de
                                Jumba, Puede convertir los que son buenos en malos y los que son malos en buenos
                                cantando. En Stitch! , Ella Es Una
                                Famosa cantante en Todo El Mundo. <br /></p>


                        </div>

                        <aside id="passions">

                            <h1>imagenes </h1>

                            <div id="centres_interet">


                                <figure class="p1">
                                    <img src="{{url_for ('static', filename = 'imagenes/33.png')}}"
                                        class="portfolio-img" alt=" photos">
                                    <figcaption> -> nani pelekai </figcaption>
                                </figure>

                                <figure class="p2">
                                    <img src="{{url_for ('static', filename = 'imagenes/11.jpg')}}"
                                        class="portfolio-img" alt=" photos"><br />
                                    <figcaption> -> angel <br />
                                        (stich enamorada de angel) </figcaption>
                                </figure>

                                <figure class="p3">
                                    <img src="{{url_for ('static', filename = 'imagenes/22.png')}}"
                                        class="portfolio-img" alt=" photos">

                                    <figcaption> -> jumba </figcaption>
                                </figure>




                            </div>

                        </aside>

                    </div>

                </article>

                <article id="cv">

                    <h1>Moana</h1>

                    <div id="experiences">

                        <h2>
                            No tengas miedo de ser diferente</h2>

                        <div id="presentation">





                            <p>
                                (Moana: Un mar de Aventuras en Latinoamérica y Vaiana en España) es la próxima película
                                animada por computadora producido por Walt Disney Animation Studios y distribuido por
                                Walt Disney Pictures que se estrenará en 2016. Será considerada como el clásico oficial
                                de Disney #56.
                                Se ha dicho que la historia se desarrollará en unas islas en el Océano Pacífico, la
                                protagonista será la joven Moana, una chica aventurera que se adentrará en el
                                Océano..<br />
                            </p>

                            <p>El film será dirigido por John Musker y Ron Clements, ambos directores de Aladdin, La
                                Sirenita y La Princesa y el Sapo. Tendrá música de Mark Mancina, quien compusó la banda
                                sonora de El Rey León, Tarzan y Hermano Oso. Dave Metzger se encargará del instrumental.
                                <br />

                            </p>
                        </div>

                        <h2 class="motivations">moana waialiki</h2>

                        <div class="description">

                            <p>moana de dieciseis años de edad, <a
                                    href="https://disney.fandom.com/es/wiki/Moana#Personajes" title="moana"
                                    target="_blank">hija</a>,Moana Waialiki hija de un jefe de una larga linea de
                                navegadores, que zarpa a una isla con un poderoso semidiós para ayudar a salvar a su
                                familia de la aniquilación. Como su nombre significa "océano", tiene una conexión
                                extraña con ella y todas sus criaturas.. <br /></p>
                            <h2 class="motivations">jefe Tui</h2>

                            <p>jefe tui es el padre de moana <a
                                    href="https://disney.fandom.com/es/wiki/Moana#Personajes" title="moana"
                                    target="_blank">"padre"</a>, es super protector y jefe de Motunui Island
                                <br /></p>

                            <h2 class="motivations">Hei Hei</h2>

                            <p>Hei Hei el galo mascoota de moana<a
                                    href="https://disney.fandom.com/es/wiki/Moana#Personajes" title="moana"
                                    target="_blank">mascota</a>, descrito por el director Ron Clements como "el
                                personaje más tonto de la historia de la animación de Disney. <br /></p>


                        </div>

                        <aside id="passions">

                            <h1>MOANA </h1>

                            <div id="centres_interet">


                                <figure class="p1">
                                    <img src="{{url_for ('static', filename = 'imagenes/99.jpg')}}"
                                        class="portfolio-img" alt=" photos">
                                    <figcaption> -> moana </figcaption>
                                </figure>

                                <figure class="p2">
                                    <img src="{{url_for ('static', filename = 'imagenes/66.jpg')}}"
                                        class="portfolio-img" alt=" photos"><br />
                                    <figcaption> -> jefe tui <br />
                                        (sopreprotector) </figcaption>
                                </figure>

                                <figure class="p3">
                                    <img src="{{url_for ('static', filename = 'imagenes/88.jpg')}}"
                                        class="portfolio-img" alt=" photos">

                                    <figcaption> -> hei hei </figcaption>


                            </div>


                        </aside>

                    </div>

                </article>
                <article id="cv">

                    <h1>Mulan</h1>

                    <div id="experiences">

                        <h2>
                            Cree en ti</h2>

                        <div id="presentation">




                            <p>
                                Ante la inminente invasión de los hunos encabezados por Shan Yu, el
                                emperador ordena el
                                reclutamiento de un varón por cada familia de China para enrolarse al
                                ejército. En
                                desacuerdo con el hecho de que su anciano y enfermo padre, Fa Zu, deba
                                cumplir con tal
                                mandato al ser el único varón de la familia, la joven Mulan decide
                                disfrazarse como hombre
                                con ayuda de la vieja armadura de su padre e integrarse de forma
                                desapercibida a las tropas.
                                Cuando se entera de la decisión de Mulan, su abuela recurre a la ayuda de
                                los ancestros para
                                salvaguardar la integridad de la joven. Si bien la intención original era
                                que «el gran
                                dragón de piedra» fuese el encargado de esta labor, al final la
                                responsabilidad recae en un
                                pequeño dragón llamado Mushu.<br />
                            </p>

                            <p>Mulan está basada en las vivencias de la batalla de Hua Mulan, protagonista
                                del poema
                                narrativo chino Balada de Fa Mu Lan, que se extienden por más de una decena
                                de años.4​ Es de
                                resaltar que, aunque el relato original ha sido adaptado en varias ocasiones
                                en el ámbito
                                cinematográfico, esta es considerada como la versión más popular.5​ Uno de
                                los conceptos
                                principales de Mulan viene dado por el rol de la protagonista, que «en
                                contraste con las
                                películas en las que las princesas necesitan ser rescatadas, se salvó a sí
                                misma e influyó
                                en una generación de niñas y mujeres». Sus acciones se contraponen a los
                                estereotipos
                                mediante los cuales se pretende «traer honor» a sus familiares, y en cambio
                                revelan que «el
                                poder femenino significa más que adoptar un rol social». Como resultado, el
                                mensaje del
                                filme hace hincapié en la igualdad de género por medio de una joven
                                «valiente e interesada
                                en las aventuras en vez de encontrar a un príncipe. [...Su ejemplo] le
                                recuerda a las
                                mujeres que luchen y se nieguen a guardar silencio».6​7​ A grandes rasgos,
                                su intención es
                                «articular una nueva visión del heroísmo femenino, cuestionar y mofarse de
                                las convenciones
                                sociales e interrogar, por medio de la deconstrucción de los binarismos de
                                género, los
                                preceptos por los que construimos y ordenamos nuestra realidad»
                                <br />

                            </p>
                        </div>

                        <h2 class="motivations">Fa mulan</h2>

                        <div class="description">

                            <p>Es una joven muchacha <a href="https://disney.fandom.com/es/wiki/Fa_Mulán" title="mulan"
                                    target="_blank">china</a>,que se alista en el ejército en
                                lugar de su padre disfrazada
                                de chico para la lucha contra los Hunos, ya que se preocupa de su padre.
                                Mushu, un dragón
                                que dice ser enviado por sus antepasados, le ayuda a adaptarse y a que le
                                vaya todo bien.
                                <br /></p>
                            <h2 class="motivations">Li shang</h2>

                            <p> se encarga de entrenar al ejercito para luchar contra <a
                                    href="https://disney.fandom.com/es/wiki/Li_Shang" title="mulan" target="_blank">shan
                                    yu</a>, En el ejército el soldado en el que más fé tiene es Ping (pero
                                tambien conocido
                                por su verdadera identidad, una mujer llamada Mulán), al que pierde la
                                confianza cuando
                                descubre que es una mujer. Sin embargo, tiene más fé cuando Mulán les
                                advierte que los hunos
                                atacarían en el Palacio del Emperador y pese a no haberle creido, Mulan aun
                                asi decidio
                                ayudarlo a salvar al Emperador cuando es capturado por los Hunos
                                convirtiendose en una
                                heroina, desde ese entonces Shang empezó a tener sentimiento de amor por
                                ella y se enamoró
                                por lo que va a buscarla a su hogar.
                                <br /></p>




                        </div>
                    </div>

                    </aside>

        </div>

        </article>

        <aside id="passions">

            <h1>Mulan</h1>

            <div id="centres_interet">


                <figure class="p1">
                    <img src="{{url_for ('static', filename = 'imagenes/111.jpg')}}" class="portfolio-img"
                        alt=" photos">
                    <figcaption> -> fa mulan </figcaption>
                </figure>

                <figure class="p2">
                    <img src="{{url_for ('static', filename = 'imagenes/222.jpg')}}" class="portfolio-img"
                        alt=" photos"><br />
                    <figcaption> -> li shang <br />
                        (se enamora de mulan) </figcaption>
                </figure>
            </div>

        </aside>

        </div>

        </article>
        <article id="cv">

            <h1>up</h1>

            <div id="experiences">

                <h2>casa en el aire</h2>

                <div id="presentation">





                    <p>
                        es una película de animación y aventuras producida por Walt
                        Disney Pictures y Pixar Animation
                        Studios, dirigida por Pete Docter, estrenada en 2009 y
                        ganadora de dos premios Óscar.4​ La trama
                        relata las aventuras de un viudo de edad avanzada llamado
                        Carl Fredricksen y de un niño
                        escultista cuyo nombre es Russell, quienes viajan a
                        Cataratas del Paraíso, en Venezuela, en el
                        interior de una casa flotante suspendida con globos rellenos
                        de helio.<br />
                    </p>

                    <p>Las primeras escenas retoman la infancia de Carl Fredricksen,
                        un niño tímido y serio que idolatra
                        al famoso explorador Charles F. Muntz Jr, cuyas anécdotas
                        suelen relatarse en unos informativos
                        proyectados en las salas de cine de la época. Un día, tras
                        acudir al cine para mirar las nuevas
                        aventuras de Muntz, Carl se entera de que este fue acusado
                        de fabricar el esqueleto de un ave
                        gigante, el cual afirmó que había descubierto en Cataratas
                        del Paraíso. Ante el hallazgo de su
                        supuesta mentira, perdió su empleo. No obstante, se
                        comprometió a regresar a ese sitio para
                        traer consigo un ejemplar vivo de esa ave y así retomar su
                        reputación. La revelación de la
                        mentira de Muntz entristece al joven Carl.
                        <br />

                    </p>
                </div>

                <h2 class="motivations">Russell</h2>

                <div class="description">

                    <p>Es un niño<a href="https://disney.fandom.com/es/wiki/Russell" title="up"
                            target="_blank">explorador </a>,que quiere
                        obtener la insignia de ayudar a los mayores en su
                        grupo de boyscouts. Cuando Carl toma rumbo a América del Sur
                        llama a su puerta y ve que es el
                        joven Russell que se queda atrapado en el porche con la casa
                        en pleno vuelo, así que le acompaña
                        en su aventura. Desde entonces, Russell se hizo el mejor
                        amigo de Carl y se encontraron a un
                        perro llamado Dug, al que adoptaron. <br /></p>
                    <h2 class="motivations">ellie</h2>

                    <p> Conoce a <a href="https://disney.fandom.com/es/wiki/Ellie_Fredricksen" title="up"
                            target="_blank">carl</a>, y se hicieron
                        amigos por la admiración que tenían ambos por las
                        aventuras, y soñaban con ser como Charles Muntz. Ambos
                        prometen viajar algún día a las Cataratas
                        Paraíso. Años después ellos se casan. Un día, Ellie está
                        embarazada, pero sufre un aborto
                        involuntario, y el médico le dice a Ellie, y ella era
                        estéril. Ella crea un método de ahorro
                        para su sueño de la infancia, pero debido a inprevistos como
                        la reparación de la rueda del coche
                        de Carl, que se le rompa la pierna, o que un árbol destroce
                        su casa, no pueden cumplirlo.
                        Envejecen, y Ellie empieza a enfermar, y termina falleciendo
                        <br /></p>




                </div>


                <aside id="passions">

                    <h1>up</h1>

                    <div id="centres_interet">


                        <figure class="p1">
                            <img src="{{url_for ('static', filename = 'imagenes/333.jpg')}}" class="portfolio-img"
                                alt=" photos">
                            <figcaption> -> Russell </figcaption>
                        </figure>

                        <figure class="p2">
                            <img src="{{url_for ('static', filename = 'imagenes/444.jpg')}}" class="portfolio-img"
                                alt=" photos"><br />
                            <figcaption> -> Ellie <br />
                                (se enamora de carl) </figcaption>
                        </figure>
                    </div>

                </aside>

            </div>

        </article>
        <article id="cv">

            <h1>Valiente</h1>

            <div id="experiences">

                <h2>Se valiente en todo</h2>

                <div id="presentation">





                    <p>
                        Mérida es una jóven princesa que desea hacer cosas que
                        su madre, la Reina Elinor, considera no aptas para
                        damas, mientras su padre, el Rey Fergus, la apoya a ser
                        como ella quiere ser. No es que su madre la odie,
                        simplemente es la manera que ella cree que es la
                        correcta. Cuando los padres de Mérida deciden que ella
                        ya está en edad de que la pretendan para matrimonio,
                        ella no está de acuerdo y hace lo posible porque ésto no
                        suceda. Durante esta etapa, conoce a una bruja que le da
                        un hechizo para poder cambiar de parecer a su madre,
                        pero como se imaginarán, ésto no sale bien…<br />
                    </p>

                    <p>Las películas de las clásicas princesas de Disney siempre
                        incluyen romance y musicales, ausentes totalmente en
                        esta cinta (bueno, hay un par de personajes que se
                        «enamoran», pero solo se ve unos segundos). Esto para
                        nada es un punto malo, sólo quería resaltar que Disney
                        nos tiene acostumbrado a esperar este tipo de cosas
                        cuando vemos princesas. La banda sonora, como la
                        escuchamos aquí, es muy buena, llena de gaitas y ritmos
                        escoceses.
                        <br />

                    </p>
                </div>

                <h2 class="motivations">Princesa merida</h2>

                <div class="description">

                    <p>Merida es una <a href="https://disney.fandom.com/es/wiki/Mérida" title="valiente"
                            target="_blank">princesa </a>, de
                        nacimiento y una aventurera de espíritu. Ella pasa sus
                        días practicando tiro con arco, montando su caballo
                        Angus, y explorando el mundo alrededor de ella. Ella ama
                        a su familia, pero quiere controlar su propio
                        destino.<br /></p>

                    <h2 class="motivations">Reina elinor</h2>

                    <p> Es una de los personajes de la pelicula <a
                            href="https://disney.fandom.com/es/wiki/La_Reina_Elinor" title="valiente "
                            target="_blank">valiente </a>, que
                        es un ejemplo de elegancia, sabiduría y fortaleza y está
                        dedicada en cuerpo y alma al bienestar de su familia y
                        del reino. Representa el contrapunto equilibrado y
                        diplomático de su marido, el Rey Fergus, mucho más
                        impulsivo.

                        <br /></p>




                </div>

                <aside id="passions">

                    <h1>valiente</h1>

                    <div id="centres_interet">


                        <figure class="p1">
                            <img src="{{url_for ('static', filename = 'imagenes/555.jpg')}}" class="portfolio-img"
                                alt=" photos">
                            <figcaption> -> Princesa Merida </figcaption>
                        </figure>

                        <figure class="p2">
                            <img src="{{url_for ('static', filename = 'imagenes/666.png')}}" class="portfolio-img"
                                alt=" photos"><br />
                            <figcaption> -> Reina Elinor <br />
                                (Madre de la princesa) </figcaption>
                        </figure>





                    </div>

            </div>

            </footer>
            <a href="/home">vamos a home</a>

            </div>

    </body>

    </html>