<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Places</title>
    <link rel="stylesheet" href="{{url_for ('static', filename = 'css/places.css')}}">

</head>
<body>
<nav class="navbar navbar-inverse">
<div class="container-fluid">
<div class="navbar-header">
<a class="navbar-brand" href="#">Mis lugares favoritos</a>
</div>
<ul class="nav navbar-nav navbar-right">
 <li class="active nav-item"><a href="#About">About</a></li>
 <li class="nav-item"><a href="#Portfolio">Portfolio</a></li>
 <li class="nav-item"><a href="#Contact">Ingenieria Biomedica</a></li>
</ul>
</div>
</nav>
<div class="container-fluid contents">
<section id="About">
<div class="opacity">
<h2>Mis lugares favoritos, Cerro pan de azucar </h2>
<div class="row">
<div class="col-sm-6 profileimg">
<img src="{{url_for ('static', filename = 'imagenes/fondo.JPG')}}" class="center-block" alt="Photo of places">
</div>
<div class="col-sm-6 about-text">
<p>Es una formación rocosa ubicada en el centroriente de la ciudad Medellín, Antioquia.</p> 
<p>El Cerro Pan de Azúcar es otro de los 7 Cerros Tutelares de Medellín, conserva uno de los caminos
    mas importantes de los ancestros Aburraes..., el Camino de la Cuesta, antiguo camino que conecta el
    Valle de Aburra con el Valle de San Nicolás, Rionegro.  <strong>Un lugar donde todos los turistar deberian visitar</strong></p> 
<p id="projectgoals"><strong>Otro de mis lugares favoritos es la piedra del peñol:</strong></p> 
<div class="row">
<i class="fa fa-graduation-cap col-sm-1" aria-hidden="true"></i> <p class="col-sm-11">La famosa piedra del Peñol se encuentra ubicada en el departamento de Antioquia, más exactamente en el sector conocido como Guatapé. 

    Con unos 220 metros de altura y un exuberante color negro es, sin duda, una de las atracciones turísticas de la región y protagonista central de varios mitos en torno a su origen. 
    
    Uno de estos mitos está relacionado con su procedencia extraterrestre, ya que como muchos afirman, este inmenso peñol habría llegado del espacio exterior. El Peñol hace parte del denominado Batolito Antioqueño. 

    Los batolitos, geológicamente hablando, son extensas masas de rocas ígneas, las cuales se forman por el enfriamiento de magma a profundidad en la corteza terrestre. 
    
    Se caracterizan por ocupar extensiones de más de 100 kilómetros cuadrados y enfriarse muy lentamente. 
    
    Estos cuerpos no salen a superficie tan fácilmente; es gracias a los procesos de erosión, que estos cuerpos de roca quedan expuestos en superficie, pero gran parte del volumen de roca, yace bajo la superficie.</p>
</div>
<div class="row">
<i class="fa fa-camera-retro col-sm-1" aria-hidden="true"></i><p class="col-sm-11"> Six Flags Magic Mountain es uno de los parques temáticos más importantes de Estados Unidos. En sus más de 100 hectáreas de terreno podréis encontrar  montañas rusas de primera categoría únicas en el mundo, más de 100 recorridos y atracciones temáticas para toda la familia. es la cadena más grande a nivel mundial de parques de atracciones y temáticos, fue fundada en Texas en el año 1961 y actualmente tiene su sede en Nueva York. </p>
</div>
<div class="row">
<i class="fa fa-pie-chart col-sm-1" aria-hidden="true"></i><p class="col-sm-11">Acércate y descubre el arte urbano en su máxima expresión. La historia, la cultura y las tradiciones plasmadas en el los muros y casas de la comuna a través del grafiti son una experiencia inolvidable. Las únicas escaleras eléctricas al aire libre de América latina se encuentran aquí, una experiencia obligatoria durante tu estadía en Medellín. Te invitamos a subir a la zona más alta de la comuna, un mirador asombroso desde el cual podrás ver toda la ciudad de la eterna primavera y tomar unas fotografías inigualables.Entra a la galería de uno de los artistas urbanos más reconocidos de la comuna y más aún del país. El grafiti como nunca lo has visto antes

</p>
</div>
</div>
</div>
</div>
</section>

<section id="Portfolio">
<div class="opacity">
<h2>MEDELLIN</h2>
<div class="row">
<div class="col-sm-6">
<h4>Medellín es uno de esos lugares que hay que visitar si vas a Colombia. Es la capital de la provincia de Antioquía y se conoce como la ciudad de la 'eterna primavera' debido al clima tan suave que tiene. Una ciudad que cuenta con una gran exposición del artista Fernando Botero tanto en la ciudad (Plaza de Botero) como en el Museo de Antioquía. Además, cuenta con teleféricos (Metrocables) que conectan los barrios cercanos a la ciudad y que es un mirador en el que se pueden ver las mejores vistas del vallé de Aburrá. Hay algunos lugares y puntos de interés de la ciudad que son imprescindibles a la hora de visitarla. </h4>
<h5>Lugares a visitar, piedra del peñol, cerro pan de azucar, graffity tou, six flags.</h5>
<img src="{{url_for ('static', filename = 'imagenes/1.JPG')}}" class="portfolio-img" alt="places photos">
<img src="{{url_for ('static', filename = 'imagenes/2.JPG')}}" class="portfolio-img" alt="places photos">
<img src="{{url_for ('static', filename = 'imagenes/3.JPG')}}" class="portfolio-img" alt="places photos">
<img src="{{url_for ('static', filename = 'imagenes/4.JPG')}}" class="portfolio-img" alt="places photos">
<a href="characteres">vamos a la ruta characteres</a>

</div>

<footer>
<p class="text-center">LESLLY VALERIA BLANDON DELGADO <i class="fa fa-copyright" aria-hidden="true"></i> INGENIERIA BIOMEDICA.</p>
</footer>
</div>

    
</body>
</html> 