<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Places</title>
    <link rel="stylesheet" href="{{url_for ('static', filename = 'css/place.css')}}">

</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Mis lugares favoritos</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="active nav-item"><a href="#About">Cerro pan de azucar </a></li>
                <li class="nav-item"><a href="#Portfolio">Piedra del peñol</a></li>
                <li class="nav-item"><a href="#Contact">Graffiti tour</a></li>
                <li class="nav-item"><a href="#Contact">Santafé de Antioquia </a></li>
                <li class="nav-item"><a href="#Contact">Jardín</a></li>

            </ul>
        </div>
    </nav>
    <div class="container-fluid contents">
        <section id="About">
            <div class="opacity">
                <h2>Mis lugares favoritos de Medellín </h2>
                <div class="row">
                    <div class="col-sm-6 profileimg">
                    </div>
                    <div class="col-sm-6 about-text">
                        <p>Medellín tiene lugares super bonitos, y en especial estos son los mios: </p>
                        <h3>CERRO PAN DE AZUCAR</h3>
                        <p>El cerro Pan de Azúcar es una formación rocosa ubicada en el centroriente de la ciudad
                            Medellín, Antioquia, fue el punto clave para empezar la construcción de la Villa de la
                            Candelaria de Medellín. Junto el Cerro El Picacho, Cerro El Salvador, Cerro El Volador,
                            Cerro La Asomadera, Cerro Las Tres Cruces, Cerro Nutibara y el Cerro Santo Domingo, conforma
                            el grupo de los llamados cerros tutelares de la ciudad de Medellín, una red de accidentes
                            geográficos a lo largo del Valle del Aburrá que posee un importante valor histórico,
                            arqueológico, ecológico y turístico</p>
                        <p>El Cerro Pan de Azúcar es otro de los 7 Cerros Tutelares de Medellín, conserva uno de los
                            caminos
                            mas importantes de los ancestros Aburraes..., el Camino de la Cuesta, antiguo camino que
                            conecta el
                            Valle de Aburra con el Valle de San Nicolás, Rionegro. <strong>Un lugar donde todos los
                                turistar deberian visitar</strong></p>
                        <h3>PIEDRA DEL PEÑOL</h3>
                        
                        La famosa piedra del Peñol se encuentra ubicada en el departamento de
                        Antioquia, más exactamente en el sector conocido como Guatapé.
                        
                        Con unos 220 metros de altura y un exuberante color negro es, sin duda, una de las
                        atracciones turísticas de la región y protagonista central de varios mitos en torno a su
                        origen.
                        
                        Uno de estos mitos está relacionado con su procedencia extraterrestre, ya que como
                        muchos afirman, este inmenso peñol habría llegado del espacio exterior. El Peñol hace
                        parte del denominado Batolito Antioqueño.
                        
                        Los batolitos, geológicamente hablando, son extensas masas de rocas ígneas, las cuales
                        se forman por el enfriamiento de
                        magma a profundidad en la corteza terrestre.
                        
                        Se caracterizan por ocupar extensiones de más de 100 kilómetros cuadrados y enfriarse
                        muy lentamente.
                        
                        Estos cuerpos no salen a superficie tan fácilmente; es gracias a los procesos de
                        erosión, que estos cuerpos de roca
                        quedan expuestos en superficie, pero gran parte del volumen de roca, yace bajo la
                        superficie.</p>
                        
                        <h3>SANTAFÉ DE ANTIOQUIA</h3>
                        <p>Santa Fe de Antioquia es un Pueblo Patrimonio de Colombia que guarda los tesoros
                                históricos más importantes del
                                período colonial y republicano en el departamento de Antioquia. Situado a una hora y
                                media de Medellín, a Santa
                                Fe de Antioquia podrás llegar por tierra, por la carretera que va hacia el Urabá
                                antioqueño. Cuenta con un clima
                                cálido que oscila entre los 25 y 35 grados centígrados, donde te sorprenderá la
                                vegetación de los parques de la
                                ciudad, y la ornamentación de las casas que se ven cuando caminas por sus calles
                                empedradas bajo el cielo azul.
                                La Iglesia de Santa Bárbara. Con una imponente fachada mezcla de piedra y ladrillo, este
                                templo fue construido
                                en 1728. Es la iglesia más antigua del municipio y de la región. Es muy popular entre
                                quienes quieren contraer
                                matrimonio, y su plaza denominada “Plazuela de Santa Bárbara” se adorna en el centro con
                                la Cruz del
                                Humilladero.
                                
                                La Iglesia de Nuestra Señora de Chiquinquirá es un templo de estilo neoclásico que está
                                ubicado en la Plazuela
                                Martínez Pardo o Plazuela de la Chinca, en cuyo centro se encuentra el monumento que
                                tiene en sus caras dos
                                mujeres, una indígena y una española y, sobre ellas, el tributo al Mariscal Robledo.
                                Junto a esta Iglesia se
                                encuentra el Palacio Arzobispal. </p>
                                <h3>GRAFFITI TOUR</h3>
                                <p>Acércate y descubre el arte urbano en su máxima expresión. La historia,
                                    la cultura y las
                                    tradiciones plasmadas en el los muros y casas de la comuna a través del grafiti son una
                                    experiencia inolvidable.
                                    Las únicas escaleras eléctricas al aire libre de América latina se encuentran aquí, una
                                    experiencia obligatoria
                                    durante tu estadía en Medellín. Te invitamos a subir a la zona más alta de la comuna, un
                                    mirador asombroso desde
                                    el cual podrás ver toda la ciudad de la eterna primavera y tomar unas fotografías
                                    inigualables.Entra a la
                                    galería de uno de los artistas urbanos más reconocidos de la comuna y más aún del país.
                                    El grafiti como nunca lo
                                    has visto antes.
                                    Precisamente, en esta Comuna de Medellín, la 13, es donde realiza el “Comuna 13 Graffiti Tour”, un recorrido que te
                                    mostrará cómo la música y el arte han ido sanando e integrando la comunidad, comunidad que durante muchos años vivió
                                    en medio de la violencia, pero que con el tiempo y las buenas intenciones de muchos se ha transformado para bien,
                                    recibiendo día tras día a cientos de turistas que admiran y se deleitan con el arte que se observa en los diferentes
                                    recorridosen la Comuna 13.
                                
                                    ¡Atrévete a vivir una experiencia de arte y transformación en una comuna que hoy le apuesta a la integración de sus
                                    habitantes a través del arte y urbanismo social en Medellin, será un recorrido inolvidable! </p>
                                <h3>JARDÍN</h3>
                                <p>Jardín, Antioquia, es uno de los pueblos más lindos de Colombia, un pueblito paisa muy colorido y acogedor, que está
                                    rodeado de increíbles paisajes naturales, cascadas, montañas y de una gran biodiversidad, El municipio de Jardín se
                                    encuentra en el suroccidente antioqueño, sobre las faldas de la cordillera andina y a menos de 4 horas de la ciudad
                                    de Medellín.
                                    
                                    Jardín es un Pueblo Patrimonio de Colombia que se caracteriza por la amabilidad de sus habitantes y por conservar en
                                    su calles la arquitectura propia de la colonización antioqueña.
                                    
                                    Un hermoso lugar que está entre los 1.500 y 3.000 metros sobre el nivel del mar, donde es posible encontrar
                                    diferentes pisos térmicos y climas que van desde cálido hasta páramo.
                                    Visitar Jardín en Antioquia, es encontrarse rodeado de pura belleza y cosas agradables; de hecho su nombre, se dice, fue
                                    puesto porque se parece a un hermoso jardín de las casas señoriales de épocas pasadas, así que desde el mismo nombre
                                    este municipio promete mucho, y lo mejor, es que no defrauda. </p>
                                    </p>
                                    </div>
                                    </div>
                                    </div>
            </div>
        </section>

        <section id="Portfolio">
            <div class="opacity">
                <h2>MEDELLIN</h2>
                <div class="row">
                    <div class="col-sm-6">
                        <h3>Medellín es uno de esos lugares que hay que visitar si vas a Colombia. Es la capital de la
                            provincia de Antioquía y se conoce como la ciudad de la 'eterna primavera' debido al clima
                            tan suave que tiene. Una ciudad que cuenta con una gran exposición del artista Fernando
                            Botero tanto en la ciudad (Plaza de Botero) como en el Museo de Antioquía. Además, cuenta
                            con teleféricos (Metrocables) que conectan los barrios cercanos a la ciudad y que es un
                            mirador en el que se pueden ver las mejores vistas del vallé de Aburrá. Hay algunos lugares
                            y puntos de interés de la ciudad que son imprescindibles a la hora de visitarla. </h3>
                        
                        <img src="{{url_for ('static', filename = 'imagenes/1.jpg')}}" class="portfolio-img"
                            alt="places photos">
                        <img src="{{url_for ('static', filename = 'imagenes/2.jpg')}}" class="portfolio-img"
                            alt="places photos">
                        <img src="{{url_for ('static', filename = 'imagenes/3.jpg')}}" class="portfolio-img"
                            alt="places photos">
                        <img src="{{url_for ('static', filename = 'imagenes/44.jpg')}}" class="portfolio-img"
                            alt="places photos">
                        <img src="{{url_for ('static', filename = 'imagenes/55.jpg')}}" class="portfolio-img"
                            alt="places photos">
                        <a href="/home">vamos a home</a>

                    </div>

                    <footer>
                        <p class="text-center">LESLLY VALERIA BLANDON DELGADO <i class="fa fa-copyright"
                                aria-hidden="true"></i> INGENIERIA BIOMEDICA.</p>
                    </footer>
                </div>


</body>

</html>