<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for ('static', filename = 'css/doctor.css')}}">
</head>

<body>
    <!DOCTYPE html>
    <!-- La ligne ci-dessus indique qu'il s'agit bien d'une page web HTML. -->

    <html lang="fr">
    <!-- `<html>` est la balise principale du code. Elle englobe tout le contenu de ma page. -->

    <head>
        <!-- Cette section donne quelques informations générales sur la page comme son titre, l'encodage. Les informations que contient l'en-tête ne sont pas affichées sur la page, ce sont simplement des informations générales à destination de l'ordinateur. -->

        <meta charset="utf-8">
        <!-- Cette méthode d'encodage permet d'afficher pratiquement tous les symboles de toutes les langues de notre planète ! -->

        <!-- CodePen n'a pas besoin que soit utilisé une balise `<link>` comme suit mais c'est l'usage pour connecter la page html avec la feuille de styles. ex:
    <link rel="stylesheet" href="styles.css">
    -->

        <!-- Eh bien oui, je pense que nous serons amenés à nous revoir... ;) 
Le titre s'affiche en général dans l'onglet du navigateur. -->

    </head>

    <body>
        <!-- C'est là que se trouve la partie principale de la page. Tout ce que j'écris ici sera affiché à l'écran. -->
        <header>

            <div class="header_gauche"></div>

            <div class="header_centre">
                <p><br></p>
                <figure>
                    <a href="1.jpg" target="_blank"><img class="exergue" alt="ALGORITMO Y ESTRUCTURA DE DATOS."
                            title="J'ai deux meilleurs profils dont le droit."></a>
                </figure>
                <p>
                <h1> &nbsp; Doctores &nbsp; </h1>
                </p>
            </div>

            <div class="header_droite">

            </div>

        </header>

        <section>

            <div class="section_whoami">
                <div class="sous-section">
                    <div class="s-s-titre">
                        <h2> Doctores de Colombia </h2>
                        <hr class="du_titre">
                    </div>
                    <div class="s-s-texte">
                        <p class="section">
                            La cardiología es la especialidad médica que se ocupa de las afecciones del corazón y del
                            aparato
                            circulatorio. Se incluye dentro de las especialidades médicas, es decir que no abarca la
                            cirugía,
                            aún cuando muchas enfermedades cardiológicas son de sanción quirúrgica, por lo que un equipo
                            cardiológico suele estar integrado por cardiólogo, cirujano cardíaco y fisiatra, integrando
                            además a
                            otros especialistas cuando el terreno del paciente así lo requiere. <a
                                href="https://www.liderdoctor.es/segunda-opinion-medica/listado-de-especialidades/?fbclid=IwAR1M2Vu0U-Tq9Xu7BZmCfMy7czJR2qt8MfQF0udeXOOkNxWWA0_goI23e4k"
                                target="_blank" title="Une idée de voyage post-confinement...">Albi</a>, j'ai emmené
                            avec moi la
                            bonhomie du méridional, son appétit féroce et une aisance toute aimable à rencontrer mon
                            prochain.
                        </p>
                        <p class="section">
                            Principales enfermedades

                            Enfermedad coronaria aguda y crónica.
                            Angina de pecho.
                            Infarto.
                            Trombolisis.
                            Hipertensión arterial.
                            Dislipemias.
                            Insuficiencia cardíaca.
                            Arritmias cardíacas.
                            Miocardiopatías.
                            Valvulopatías.
                            Cardiopatías congénitas.
                        <ul>
                            <li>
                                Especialista

                                Dr. Asin Cardiel <br>
                            </li>
                            <br>
                            <li>
                                La endocrinología es la especialidad médica encargada del estudio de la función normal,
                                la
                                anatomía y los desórdenes producidos por alteraciones de las glándulas endocrinas, que
                                son
                                aquellas que vierten su producto a la circulación sanguínea (denominados hormonas).
                                Son glándulas endocrinas las siguientes: hipófisis, tiroides, paratiroides, páncreas,
                                glándulas
                                sexuales (ovarios y testículos) y glándulas suprarrenales.
                            </li>
                        </ul>
                        </p>
                        <p class="section">
                            Principales enfermedades

                            Obesidadl
                            Diabetes (tipo I y tipo II)
                            Hiperlipemias (colesterol,triglicéridos…)
                            Enfermedades del tiroides
                            Desequilibrios hormonales
                            Menopausia
                        </p>
                        <p class="section">
                            Especialista

                            Dr. Mariscal </p>
                        <p class="youpi">
                            ƪ(ړײ)‎ƪ​​<br>Estos son los mejores doctores del mundo !!<br>
                        </p>
                    </div>
                </div>

                <div class="sous-section">
                    <div class="s-s-titre">
                        <h2> Doctores de brasil </h2>
                        <hr class="du_titre">
                    </div>
                    <div class="s-s-texte">
                        <p class="section">
                            La genética es el campo de las ciencias biológicas que trata de comprender cómo la herencia
                            biológica es
                            transmitida de una generación a la siguiente, y cómo se efectúa el desarrollo de las
                            características que
                            controlan estos procesos.
                        <ul>

                            <br>
                            <li>
                                Principales enfermedades

                                Hemocromatosis
                                Talasemia
                                Fibrosis Quística
                                Frágil X
                                E. Duchenne
                                Neurofibromatosis
                                Embarazo alto riesgo (S. Down)
                                Metabolopatías
                                Trombofilias
                                E. Neurodegenerativas
                                Cáncer familiar
                            </li>
                            <br>

                            <br>Especialista

                            Dra. Orera
                            </li>
                            <br>
                            <li>
                                <br>La nefrología es la especialidad médica que se ocupa del estudio de la función
                                renal, para la prevención, detección precoz y tratamiento de enfermedades que afectan a
                                los riñones.

                            </li>
                            <br>
                            <li>
                                <br>Principales enfermedades

                                Insuficiencia renal
                                Hipertensión arterial
                                Riesgo cardiovascular.
                                Cálculos en riñones
                                Hematuria
                                Proteinuria
                                Infecciones del tracto urinario crónicas o recurrentes

                            </li>
                            </li>
                            <br>

                            <br>Especialista

                            Dra. Barril
                            </li>
                        </ul>
                        </p>
                    </div>
                </div>




                <footer>
                    <div class="titre">
                        <br>
                        <h2>Contacto</h2>
                    </div>
                    <hr>
                    <div class="contact">
                        <h3> Direccion </h3>
                        <p>
                            <br>
                            37000 TOURS
                        </p>
                    </div>
                    <div class="contact">
                        <h3> Telefono </h3>
                        <p> 06 21 03 61 39 </p>
                        <br>
                        <p class="love"> <span class="bisou"></span><span class="coeur">♥</span> -
                        </p>
                    </div>
                    <div class="contact">
                        

                    </div>
                </footer>
    </body>

    </html>






</body>

</html>