<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APP | hello</title>
    <link rel="stylesheet" href="{{url_for ('static', filename = 'css/hello.css')}}">
</head>
<body>
    <h1>Bienvenido a mi primera página </h1>
    <h2>tu ip es : {{userIp}}</h2>
    <h2>tu mascota es : {{mascota}}</h2>
    <img src= "{{url_for ('static', filename = 'images/aslan.JPG')}}" alt= "foto de aslan ">
    <a href= "new">vamos a la ruta new </a>
</body>
</html>