<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel="stylesheet" href="{{url_for ('static', filename = 'css/services.css')}}">
</head>
<body>
    <body>
        <div class="flexbox">
            <div class="flex flexbottom">
                <h1 class="stepNumber">Nivel I</h1>
                <div class="textbox">
                    <p>Nivel I
                        En esta categoría, los hospitales realizan intervenciones y actividades de promoción de la salud y prevención de la enfermedad. Cuenta con Médico General y/o personal auxiliar, y otros profesionales de la salud. En este nivel se incluyen puestos y centros de salud, pertenecen los hospitales locales donde se brinda una atención básica. Solo cuentan con médicos generales para la atención de consultas y no hacen procedimientos quirúrgicos además no cuentan con servicio de Radiología avanzada. Otros servicios que prestan son:
                        
                        Atención Inicial, estabilización, remisión del paciente en urgencias.
                        Radiología Básica.
                        Medicamentos Esenciales.</p>
                </div>
                <div class="imgbox">
                    <img src="https://cdn.pixabay.com/photo/2017/01/10/23/01/seo-1970475_960_720.png" alt="">
                </div>
            </div>
            <div class="flex flextop">
                <div class="imgbox">
                    <img src="https://cdn.pixabay.com/photo/2017/03/08/14/20/flat-2126876_960_720.png" />
                </div>
                <h1 class="stepNumber">Nivel II</h1>
                <div class="textbox">
                    <p>Los hospitales de segundo nivel o nivel intermedio, cuentan con atención además de médico general, con mínimo cuatro especialistas: anestesiólogo, cirujano, ginecólogo y medicina interna. Además, cuentan con laboratorio médico con capacidad para practicar los exámenes básicos de sangre, orina y materia fecal. Por lo general no cuentan con equipos de radiología para realizar TAC que es el examen fundamental en ACV. Sin embargo, prestan otros servicios como:

                        Laboratorio Clínico Básico
                        Radiología Especializada
                        Otros procedimientos diagnósticos y/o terapéuticos.
                        Procedimientos quirúrgicos derivados de la atención ambulatoria de medicina especializada en áreas como cirugía general.</p>
                </div>
    
            </div>
            <div class="flex flexbottom">
                <h1 class="stepNumber">Nivel III y IV</h1>
                <div class="textbox">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure, illo.</p>
                </div>
                <div class="imgbox">
                    <img src="https://cdn.pixabay.com/photo/2017/03/08/14/20/flat-2126878_960_720.png" alt="">
                </div>
            </div>
            <div class="flex flextop">
                <div class="imgbox">
                    <img src="https://cdn.pixabay.com/photo/2017/01/10/23/01/vector-1970471_960_720.png" alt="">
                </div>
                <h1 class="stepNumber">Nivel IV</h1>
                <div class="textbox">
                    <p>Los hospitales de tercer y cuarto nivel cuentan con Médico Especialista con la participación del médico general. Son hospitales de referencia o altamente especializados, a ellos llegan los pacientes remitidos de los hospitales regionales. Estos hospitales tienen gran número de especialistas: cardiólogos, dermatólogos, siquiatras, neurólogos y nefrólogos, entre otros. Además cuentan con unidades especiales que requieren una infraestructura especial, tales como neurocirugía, unidad renal, unidad de cuidados intensivos y altos avances tecnológicos en el laboratorio y en imágenes como TAC, resonancia magnética entre otros. Dentro de sus servicios, ofrecen:

                        Laboratorio clínico.
                        Imágenes diagnósticas.
                        Todas las Tomografías Axiales Computarizadas (TAC), así como cualquiera de las gammagrafías o estudios de Medicina Nuclear y las ecografías no consideradas en los niveles I y II.
                        Exámenes especiales que incluyen: abdomen, articulaciones, neuro-radiológicos, cardiovasculares.</p>
                </div>
    
            </div>
            <div class="flex flexbottom">
                <h1 class="stepNumber">Nivel V</h1>
                <div class="textbox">
                    <p>El Sistema General de Seguridad Social en Salud afirma que, “han evidenciado avances en lo relacionado con cobertura, acceso y equidad; en la oferta nacional de los servicios de salud con crecimiento predominante en el sector privado y en el segmento de mayor complejidad tecnológica”. Así mismo, pueden prever de otros beneficios como:

                        Atención especializada.
                        Mayor seguridad.
                        Incremento de camas.
                        Rapidez en procesos de laboratorio.
                        Disponibilidad de exámenes, especialmente para diagnóstico de ACV.
                        Comodidad.</p>
                </div>
                <div class="imgbox">
                    <img src="https://cdn.pixabay.com/photo/2017/03/08/14/20/flat-2126884_960_720.png" alt="">
                </div>
            </div>
    
        </div>
    
    
        <footer> &copy;contactanos| 3227899780</footer>
        <a href = "/">regresar al home </a>
        
        
    
    </body>
</body>
</html>
