

body {
    background-image: url(https://res.cloudinary.com/nicolegrima/image/upload/c_scale,w_2000/v1486269069/palms_jpnuzf.jpg);
    background-attachment: fixed;
    background-size: cover;
    font-size: 16px;
    }
    
    .profileimg img {
    border-radius: 20px;
    max-width: 70%;
    box-shadow: 5px 5px 5px 0px rgba(97,90,97,1);
    margin-bottom: 40px;
    }
    
    h2 {
    color: #FF4500;
    color: #007BA7;
    text-align: center;
    margin: 20px 0px 30px;
    padding-top: 40px;
    font-family: 'Lobster', cursive;
    font-size: 3em;
    }
    
    .contents {
    margin-left: 100px;
    margin-right: 100px;
    }
    
    .about-text, .connect-text {
    font-size: 18px;
    padding: 30px 60px 60px 60px;
    }
    
    
    
    #Contact i {
    font-size: 40px;
    padding: 30px 0px 60px 40px;
    }
    
    #projectgoals {
    padding: 10px 0px;
    }
    
    .row {
    max-width: 100%;
    }
    
    .portfolio-img {
    padding: 10px 20px 40px 20px;
    max-width: 100%;
    }
    
    
    .col-sm-6 h4, .col-sm-6 h5 {
    padding: 0px 20px;
    max-width: 100%;
    text-align: center;
    }
    
    .opacity {
        background: rgba(255, 255, 255, 0.7);
    }
    
    .social {
    text-align:center
    }
    a:link {
    color: #000000;
    }
    
    a:hover {
    color: #FF4500;
    }
    
    a:visited {
    color: #007BA7;
    }
    
    footer {
    padding-top: 30px;
    color: #FFFFFF;
    }