h1{
    text-align: center;
    height: 20vh;
    background-color: darkgrey;
    color:#000000;
    font-size: 300%;
    margin: 0
}
h3{
    text-align: center;
    color: black;
    font-size: 100%;  
}
div {
    width: 100%;
}

img {
    width: 400px;
    height:auto;
    margin:auto ;
    display: block;
    border-radius:10px;
    box-shadow: 5px 5px 0px #ccc
}