<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for ('static', filename = 'css/Conocenos.css')}}">
</head>

<body>
    <div class="contenedor">


        <header>
            <div class="logo">
                <img src="{{url_for ('static', filename = 'imagenes/clinica.jpg')}}" class="portfolio-img" alt=" photos">
                
                    
                <a href="#">Instalaciones en hospitales</a>
            </div>

            <nav>
                <a href = "/">HOME </a></p>
                <a href="/pacientes">PACIENTES</a>
                <a href="/doctores">DOCTORES</a>
                <a href="/conocenos">CONOCENOS</a>
                <a href="/contactanos">CONTACTANOS</a>
                <a href="/curioso">CURIOSO</a>
            </nav>
        </header>

        <section class="main">
            <article>
                <h2 class="titulo">Protección contra pulverizaciones</h2>
                <p>Limpieza segura: especialmente para los muy elevados requisitos de higiene de los hospitales y
                    centros de asistencia, JUNG ha lanzado al mercado campos de inscripción herméticos a las
                    pulverizaciones para programas de mecanismos interruptores seleccionado</p>
            </article>

            <article>
                <h2 class="titulo">Sistema SHIPP</h2>
                <p>Para el HIC la comodidad del paciente y su familia es el eje central en todos sus procesos, por ello
                    brinda la mejor experiencia y servicio. Entre nuestros diferenciadores se encuentra el
                    acompañamiento a cada cama hospitalaria con pantallas táctiles, al estilo de una smart tablet, que
                    cuentan con el Sistema Hospitalario Integrado para Pacientes (SHIPP), diseñado por la FCV para
                    entretener a pacientes hospitalizados y sus familiares, generando un el entorno clínico más
                    agradable.</p>
            </article>

            <article>
                <h2 class="titulo">Habitaciones de Hospitalización</h2>
                <p>Las habitaciones del área de Hospitalización del HIC fueron concebidas con base en la flexibilidad,
                    la cual busca la ocupación sencilla o doble, según las necesidades de cada paciente, permitiendo que
                    se agrupen en dos alas organizadas frente a la estación de enfermería, para tener una visualización
                    completa de las habitaciones. Todas las habitaciones cuentan con iluminación natural y las del
                    costado sur cuentan con la reserva del Valle de Mensulí, todo esto en busca de ofrecer a los
                    pacientes el mayor nivel de comodidad y confort.</p>
            </article>
        </section>

        

             
                <img src="{{url_for ('static', filename = 'imagenes/7.png')}}" class="portfolio-img" alt=" photos">
                <img src="{{url_for ('static', filename = 'imagenes/8.png')}}" class="portfolio-img" alt=" photos">
            

            <div class="widget">
                <div class="imagen"></div>
            </div>
        </aside>

        <footer>
            <section class="links">
                <a href="#">Inicio</a>
                <a href="#">Blog</a>
                <a href="#">Proyectos</a>
                <a href="#">Contacto</a>
            </section>

            <div class="social">
                <a href="#">Leslly Valeria</a>
                <a href="#">Ingenieria biomedica</a>
            </div>
        </footer>

    </div>
</body>

</html>