<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curiosidades</title>
    <link rel="stylesheet" href="{{url_for ('static', filename = 'css/Curioso.css')}}">

</head>

<body>

    <html>


    <body>
        <!-- Corps de la page -->
        <div id="block_page">
            <header>


                <div id="photo_head"><img src="{{url_for ('static', filename = 'imagenes/net.jpg')}}"
                        alt="places photos"></div>
                <h1> CURIOSIDADES</h1>
                <!--Titre principal en h1 -->


            </header>

            <div id="sommaire_page">

                <nav>
                    <div class="conteneur-nav">
                        <label for="mobile">Afficher/Cacher le menu</label>
                        <input type="checkbox" id="mobile" role="button">
                        <ul>
                            <li class="deroulant"><a href="#a_propos_de_moi">NETFLIX</a>
                                <ul class="sous">
                                    <li><a href="#presentation">netflix</a></li>
                                    <li><a href="#motivations">Jugar voley</a></li>
                                    <li><a href="#passions">Dormir</a></li>
                                </ul>
                            </li>
                            <li class="deroulant"><a href="#cv">netflix</a>
                                <ul class="sous">
                                    <li><a href="#presentation">greys anatomy</a></li>
                                    <li><a href="#motivations">La casa de papel </a></li>
                                    <li><a href="#passions">solos los vialientes</a></li>


                                </ul>
                            </li>
                            <li class="deroulant"><a href="#cv">voley</a>
                                <ul class="sous">
                                    <li><a href="#presentation">voley playa</a></li>
                                    <li><a href="#motivations">voley piso</a></li>



                                </ul>
                            </li>
                            <li class="deroulant"><a href="#cv">dormir</a>
                                <ul class="sous">
                                    



                                </ul>
                            


                                
                            </li>


                        </ul>
                    </div>
                </nav>

            </div>

            <section>

                <article id="a_propos_de_moi">

                    <h1> VER NETFLIX</h1>

                    <div id="presentation">

                        <h2>TOP 3 PELICULAS FAVORITAS </h2>

                        <div class="description">

                            <p>
                               En mi tiempo libre lo que hago es acostarme, hacerme palomitas de maiz y poner netflix y verme peliculas y asi se me pasan las horoas, mis top tres de peliculas favprtitas son : <br> greys anatomy<br>La casa de papel<br>solos los vialientes<br />
                            </p>

                            
                        </div>

                        <h2 class="motivations">JUGAR VOLEY</h2>

                        <div class="description">

                            <p>Me encanta jugar  <a
                                    href="https://disney.fandom.com/es/wiki/Personajes_de_Lilo_%26_Stitch_(franquicia)#Introducidos_en_Lilo_.26_Stitch"
                                    title="lilo stich" target="_blank">voley</a>diria que es una de mis actividades favoritas porque me distrae, porque me divierte porque me puede reir y hacer lo que me gusta la mismo tiempo. Todos deberias de practicar un deporte en serio que ayuda muchissimo para cualquier cosa que lo quieras ver. 

                                </p>
                            <h2 class="motivations">Dormir </h2>

                            <p>yo amo  <a
                                    href="https://disney.fandom.com/es/wiki/Personajes_de_Lilo_%26_Stitch_(franquicia)#Introducidos_en_Lilo_.26_Stitch"
                                    title="lilo stich" target="_blank">"dormir"</a>, Es otra de mis actividades favortias, en serio que si, es que siento que uno descansa tanto fisicamente como mentalmente y cuando abres tus ojos al otro dia, ya va a hacer un dia nuevo, un nuevo comienzo para hacer tus cosas y seguir adelante sin importar que haya pasado el dia anterior 
                                
                               

                        </div>

                        <aside id="passions">

                            <h1>imagenes </h1>

                            <div id="centres_interet">


                                <figure class="p1">
                                    <img src="{{url_for ('static', filename = 'imagenes/net.jpg')}}"
                                        class="portfolio-img" alt=" photos">
                                    <figcaption> -> netflix </figcaption>
                                </figure>

                                <figure class="p2">
                                    <img src="{{url_for ('static', filename = 'imagenes/voley.jpg')}}"
                                        class="portfolio-img" alt=" photos"><br />
                                    <figcaption> -> jugar voley <br />
                                        (me encanta ) </figcaption>
                                </figure>

                                <figure class="p3">
                                    <img src="{{url_for ('static', filename = 'imagenes/dormir.jpg')}}"
                                        class="portfolio-img" alt=" photos">

                                    <figcaption> -> dormir  </figcaption>
                                    
                                </figure>




                            </div>

                        </aside>

                    </div>

                </article>

               




                    </div>

            </div>

            </footer>
            <a href = "/">regresar al home </a>

            </div>

    </body>

    </html>