<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor</title>
    <link rel="stylesheet" href="{{url_for ('static', filename = 'css/Doctor.css')}}">
</head>

<body>
    <div class="container">
        <header>
            <div class="wrapper">
                <div class="logo">
                    <h1><a href="#"><span class="color">C</span>línica</a></h1>
                </div>
                <nav>
                    <ul>
                        <li><a href="#"><span class="color">Home</span></a></li>
                        <li><a href="#about">about</a></li>
                        <li><a href="#contact">contact</a></li>
                        <li><a href="#services">services</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <section id="showcase">
            <h1>CLINICA MEDELLÍN</h1>
            <p>Aquel que tenga salud tiene esperanza; y aquel con esperanza lo tiene todo</p>
            <a href="https://www.dancefree.com.co/diario/hospitales-clinicas-y-centros-de-salud-en-medellin?locale=es"
                target="_blank">Click Me</a>
        </section>

        
        
        
        <div class="clear"></div>
        <hr>

        <!-------third section ------>
        <div id="about">
            
            <section id="pic">

                <img src="{{url_for ('static', filename = 'imagenes/5.jpg')}}" class="portfolio-img" alt=" photos">
                


                

                <!DOCTYPE html>
                <html lang="en">

                <head>
                    <meta charset="UTF-8" />
                    <title>Listas usando contadores de css</title>
                    <link rel="stylesheet" href="style.css" />
                    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet'
                        type='text/css' />
                </head>

                <body>
                    <section class="container">
                        <div class="wrapper">
                            <h2 class="title">Lista de doctores</h2>

                            <div class="type-contadores">

                                <div class="all-contadores">
                                    <h2 class="element">LAURA FERNANDA
                                        RODRÍGUEZ TORRES</h2>
                                </div>

                                <div class="all-contadores">
                                    <h2 class="element roman">LISETH TATIANA
                                        SIERRA VILLAMIL</h2>
                                </div>

                                <div class="all-contadores">
                                    <h2 class="element alpha"> LUISA FERNANDA
                                        GARCÍA FONNEGRA</h2>
                                </div>

                                <div class="all-contadores">
                                    <h2 class="element lower"> MARCELA
                                        GARCIA RUEDA</h2>
                                </div>

                                <div class="all-contadores">
                                    <h2 class="element lower"> MARIA ALEJANDRA
                                        BOLÍVAR GALEANO
                                       </h2>
                                </div>

                                <div class="all-contadores">
                                    <h2 class="element lower"> MARÍA ANGÉLICA
                                        BELTRÁN CASTILLO
                                       </h2>
                                </div>

                                <div class="all-contadores">
                                    <h2 class="element lower"> MARIA CAMILA
                                        NIETO BUSTOS
                                       </h2>
                                </div>
                                <div class="all-contadores">
                                    <h2 class="element lower"> MARIA MARGARITA
                                        PEREZ MORENO
                                       </h2>
                                </div>
                                <div class="all-contadores">
                                    <h2 class="element lower"> MARIANA DEL PILAR
                                        SANTOS MILACHAY
                                       </h2>
                                </div>
                                <div class="all-contadores">
                                    <h2 class="element lower"> MÓNICA ALEXANDRA
                                        CAMACHO AMAYA
                                       </h2>
                                </div>
                                <div class="all-contadores">
                                    <h2 class="element lower"> OLGA VIVIANA
                                        OVALLE SOLANO
                                       </h2>
                                </div>
                                <div class="all-contadores">
                                    <h2 class="element lower"> PABLO
                                        URIBE ANTIA
                                       </h2>
                                </div>
                                <div class="all-contadores">
                                    <h2 class="element lower">PAOLA ANDREA
                                        CORREA LARIOS 
                                       </h2>
                                </div>
                                <div class="all-contadores">
                                    <h2 class="element lower"> RAFAEL ANDRES
                                        ALVAREZ CASTILLO
                                       </h2>
                                </div>
                                <div class="all-contadores">
                                    <h2 class="element lower"> RICARDO
                                        VEGA ZAMBRANO
                                       </h2>
                                </div>
                                <div class="all-contadores">
                                    <h2 class="element lower"> SANDRA XIMENA
                                        GARCÉS PARRA
                                       </h2>
                                </div>
                                <div class="all-contadores">
                                    <h2 class="element lower"> SEBASTIÁN
                                        IREGUI GALEANO
                                       </h2>
                                </div>
                                <div class="all-contadores">
                                    <h2 class="element lower"> YIRIAM LILIAM
                                        OCHOA SABOGAL
                                       </h2>
                                </div>
                                <div class="all-contadores">
                                    <h2 class="element lower"> YURANY CATALINA
                                        CIFUENTES MENDEZ
                                       </h2>
                                </div>
                                <div class="all-contadores">
                                    <h2 class="element lower"> YURI CATALINA
                                        SALAZAR ARISTIZABAL
                                       </h2>
                                </div>



                            </div>
                        </div>
                    </section>
                </body>

                </html>


        </div>


        <hr>



        <hr>
        <h2>Contact</h2>
        <section id="contact">
            <div class="wrapper">
                <form id="myform">
                    <label for="name">Name</label><br>
                    <input type="text" name="name" class="submit"><br>
                    <label for="name">Password</label><br>
                    <input type="text" name="pass" class="submit"><br>
                    <label for="name">Email</label><br>
                    <input type="text" name="email" class="submit"><br>
                    <label for="">Comment</label><br>
                    <textarea rows="6" cols="30"></textarea><br>
                    <input type="submit" id="btn" value="get started">
                </form>
            </div>
        </section>

        <footer>
            <div class="wrapper">
                <p>Leslly Valeria Blandon Delgado<br><a href="/">regresar al home </a> &copy;</p>
            </div>
        </footer>

    </div>
</body>

</html>