<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="{{url_for ('static', filename = 'css/home.css')}}">
</head>
<body>
    <div class="container">
        
        
        <a href="/pacientes"class="btn btn-2">Pacientes</a>
        <a href="/doctores"class="btn btn-2">Doctores</a>
        <a href="/conocenos"class="btn btn-2">Conocenos</a>
        <a href="/contactanos"class="btn btn-2">Contactanos</a>
        <a href="/curioso"class="btn btn-2">Curioso</a>

        
      </div>
</body>



</html>