<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for ('static', filename = 'css/abaout.css')}}">
</head>
<body>
    <header>
        <h1>
          Plataforma estratégica de nuestra clínica 
        </h1>
      <nav am-layout="horizontal">
      <a href="#">Home</a>
      <a href="#">Misión</a>
      <a href="#">Visión</a>
      <a href="#">Contact</a>
      </nav>
    </header>
    <main>
      <article>
            <aside>
          <h1>
            01.
          </h1>
        </aside>
        <section>
        <h1>
            Misión
        </h1>
        <p>Contribuir al cuidado de la vida y la recuperación de la salud, mediante un servicio diferenciado, centrado en la persona, integral, seguro, humanizado, con personal idóneo y una excelente gestión que garantice creación de valor a sus partes interesadas, cuidado del medio ambiente, sostenibilidad económica y permanencia en el tiempo.
           </p> 
           <h1>Visión</h1> 
           <p>Ser para el año 2020 una institución de salud de alta complejidad, líder en atención integral, segura, humanizada, centrada en la persona, cuidadora del medio ambiente y centro de referencia a nivel nacional e internacional.</p>

        </section>
        <aside>
          <h1>
            
            <h1>
        </aside>
      </article>
    </main>
    <footer>
        <p>Medellín - Colombia<br>Línea única de atención: 4441555<br><a href = "/">regresar al home </a></p>
    </footer>
</body>
</html>