<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="{{url_for ('static', filename = 'css/contacts.css')}}">

</head>
<body>
    <div class="wrapper">
        <div class="square">
        <div class="circle"><p><span>1</span></p></div>
        <div class="triagle"></div>
        <p class="text">Horarios de atencion<br>Lunes a Viernes 7:00 a.m. a 5:30 p.m.
            Sábados 8:00 a.m. a 11:00 a.m</p>
        </div>
        <div class="square">
        <div class="circle"><p><span>2</span></p></div>
        <div class="triagle"></div>
        <p class="text">Sede Occidente
            Carrera 65B No. 30 - 95
            Conmutador: (574) 444 61 52</p>
        </div>
        <div class="square">
        <div class="circle"><p><span>3 </span></p></div>
        <div class="triagle"></div>
        <p class="text">Sede El Poblado
            Calle 7 No. 39 - 290 
            Conmutador: (574) 311 28 00
            Fax: (574) 312 49 30</p>
        </div>
        <div class="square">
        <div class="circle"><p><span>4</span></p></div>
        <div class="triagle"></div>
        <p class="text">Línea Única Nacional
            01 8000 423 753
        </p>
       
</body>
</html>