<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{url_for ('static', filename = 'css/home.css')}}">
</head>
<body>
    
<body>

  <a href="/doctor" class="boton azul">Doctor</a>
  <a href="/about" class="boton rojo">About</a>
  <a href="/services"class="boton verde">Services</a>
  <a href="/contact" class="boton azul">Contact</a>

</body>
</html>


</body>
</html>