<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel="stylesheet" href="{{url_for ('static', filename = 'css/services.css')}}">
</head>
<body>
    <body>
        <div class="flexbox">
            <div class="flex flexbottom">
                <h1 class="stepNumber">URGENCIAS 24 HORAS</h1>
                <div class="textbox">
                    <p>Nuestro servicio de urgencias cuenta con todas las capacidades para la atención de adultos y niños.
                        
                        </p>
                </div>
                <div class="imgbox">
                    <img src="https://cdn.pixabay.com/photo/2017/01/10/23/01/seo-1970475_960_720.png" alt="">
                </div>
            </div>
            <div class="flex flextop">
                <div class="imgbox">
                    <img src="https://cdn.pixabay.com/photo/2017/03/08/14/20/flat-2126876_960_720.png" />
                </div>
                <h1 class="stepNumber">UNIDADES DE CUIDADO INTENSIVO NEONATALES</h1>
                <div class="textbox">
                    <p>Tradicionalmente la Clínica El Rosario es altamente reconocida por su servicio de maternidad. 

                        </p>
                </div>
    
            </div>
            <div class="flex flexbottom">
                <h1 class="stepNumber">UNIDADES DE CUIDADO INTENSIVO ADULTOS

                </h1>
                <div class="textbox">
                    <p> Estas unidades se especializan en todas las patologías complejas de los adultos.. </p>
                </div>
                <div class="imgbox">
                    <img src="https://cdn.pixabay.com/photo/2017/03/08/14/20/flat-2126878_960_720.png" alt="">
                </div>
            </div>
            <div class="flex flextop">
                <div class="imgbox">
                    <img src="https://cdn.pixabay.com/photo/2017/01/10/23/01/vector-1970471_960_720.png" alt="">
                </div>
                <h1 class="stepNumber">UNIDAD DE ENDOSCOPIA DIGESTIVA</h1>
                <div class="textbox">
                    <p> Nuestro servicio brinda apoyo diagnóstico y terapéutico en todas las áreas de endoscopia, colonoscopia y duodenoscopia con equipo de alta tecnología

                       </p>
                </div>
    
            </div>
            <div class="flex flexbottom">
                <h1 class="stepNumber">UNIDAD DE CUIDADOS CORONARIOS</h1>
                <div class="textbox">
                    <p> Unidad especializada en el monitoreo de pacientes con enfermedades cardiovasculares.

                        </p>
                </div>
                <div class="imgbox">
                    <img src="https://cdn.pixabay.com/photo/2017/03/08/14/20/flat-2126884_960_720.png" alt="">
                </div>
            </div>
    
        </div>
    
    
        <footer> &copy;contactanos--- 3227899780<br><a href = "/">regresar al home </a></footer>
        
        
        
    
    </body>
</body>
</html>